<div id="preloader">
    <div class="h4 text-center text-typing" id="serverConnecting">Wait to connection to the server...</div>
    <div class="loader">
        <span class="ball"></span>
        <span class="ball2"></span>
        <ul>
            <li></li><li></li><li></li><li></li><li></li>
        </ul>
    </div>
</div>